pdf-viewer #om-root {
  background-color: lightgrey;
  border: 5px solid lightgrey;
}


pdf-viewer #om-root .navigation {
  text-align: center;
  padding: 5px;
}

pdf-viewer #om-root .navigation .navButtons {
  float: right;
}

.progress {
  margin: 0 auto;
  display: block;
  width: 100px;
}
