x-pdf-component #om-root {
  background-color: lightgrey;
  border: 5px solid lightgrey;
}


x-pdf-component #om-root .navigation {
  text-align: center;
  padding: 5px;
}

x-pdf-component #om-root .navigation .navButtons {
  float: right;
}
